[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = false

[packages]
pymysql = "*"
sqlalchemy = "*"
pandas = "*"
pprint = "*"
flask = "*"
ipykernel = "*"
flask-login = "*"
flask-bootstrap = "*"
cryptography = "*"
flask-wtf = "*"
flask-cors = "*"
flask-sqlalchemy = "*"
mysql-connector-python = "*"
gunicorn = "*"
nltk = "*"
pickle-mixin = "*"
joblib = "*"
email-validator = "*"
scikit-learn = "==0.22.2.post1"


[requires]
python_version = "3.7"
