[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
pymysql = "*"
sqlalchemy = "*"
pandas = "*"
pprint = "*"
flask = "*"
ipykernel = "*"
flask-login = "*"
flask-bootstrap = "*"
cryptography = "*"
flask-wtf = "*"
flask-cors = "*"
flask-sqlalchemy = "*"
mysqlclient = "*"
mysql-connector-python = "*"

[requires]
python_version = "3.7"

[pipenv]
