{% extends "base.html" %}

{% block content %}
<div>
    <h2 class=text-center>Hello user, </h2>
    <h2 class=text-center> what would you like to eat today?</h2>
 <div id = 'table container' class = container>
    <table class='table table-striped table-bordered' id='inventory_table'>
        <thead  class='thead-dark' id='table_header'>
        </thead>

        <tbody id='table_body'>
        </tbody>
    </table>
    
</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/d3/5.15.1/d3.min.js'></script>
<script src='../static/js/make_table.js'></script>
{% endblock %}