{% extends "base.html" %}
{% import "bootstrap/fixes.html" as fixes %}

{% block body %}
<div id="budget_analysis"></div>

{% endblock %}
{{fixes.ie8()}}
{% block scripts %}
{{ super() }}
        <script src="https://d3js.org/d3.v5.min.js"></script>
        <!-- Latest compiled and minified plotly.js JavaScript -->
        <script src="https://cdn.plot.ly/plotly-latest.min.js" charset="utf-8"></script>
        
        
      
        <div id="reportrange" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
            <i class="fa fa-calendar"></i>&nbsp;
            <span></span> <i class="fa fa-caret-down"></i>
        </div>
        

        
        
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <script type="text/javascript" src="{{ url_for('static', filename='js/test3.js') }}"></script>



    {% endblock %}
  
  